<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/admin-dashboard">Npathways</a>
  <ul>
    <li>
      <a routerLink="/admin-dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/user-management" routerLinkActive="active"
        >User Management</a
      >
    </li>
    <li>
      <a routerLink="/course-management" routerLinkActive="active"
        >Course Management</a
      >
    </li>
    <li>
      <a routerLink="/enrollment-management" routerLinkActive="active"
        >Enrollment Management</a
      >
    </li>
    <li>
      <a routerLink="/reports-analytics" routerLinkActive="active"
        >Reports & Analytics</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
